@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}

.user_container {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

.avatar {
  margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
  .user_container {
    .avatar {
      margin-right: 0;
    }
    .text {
      display: none;
    }
  }
}
